In [170]:
import pandas as pd

**Most Awarded Actos**

In [173]:
Actors_data = [(2,9), (2,11), (3,11), (4,20)]

In [175]:
type(Actors_data)

list

In [177]:
columns = ["Actors","Oscars"]

In [179]:
type(columns)

list

In [181]:
Actors = pd.DataFrame(data=student_data, columns=columns)

In [183]:
Actors

   Actors  Oscars
0       1       1
1       2      11
2       3      11
3       4      20