# We imported the pandas library

In [8]:
import pandas as pd

- First we create a student_data variable
- Then we create column variable
- Lastly, we create the students Dataframe

In [100]:

student_data = [(1,1), (2,11), (3,11), (4,20)]

In [102]:
type(student_data)

list

In [104]:
columns  = ["student_id","age"]

In [106]:
type(columns)

list

### students = pd.DataFrame(data=student_data, columns=columns)

In [132]:
students

   student_id  age
0           1    1
1           2   11
2           3   11
3           4   20

## We are now going to count how many rows abd columns our dataset has...

In [159]:
rows = len(students) # len is a function that returns the 
                     # length of what's inside

In [157]:
print (f"The students data has {rows} rows")

The students data has 4 rows

In [137]:
type(students)

pandas.core.frame.DataFrame

In [141]:
students_columns = len(students.columns)

In [149]:
print(f"The student dataset has {students_columns} columns")

The student dataset has 2 columns

## Print out the fisrt 3 rows of the studnets dataframe...

panda has a function called ".head(x)" which prints out the fisrt x rows of your DataFrame

In [170]:
students.head(3)

   student_id  age
0           1    1
1           2   11
2           3   11

There is another way to print the first "x" rows using Pythin. 
We can use a technique called slicing where we provide the starting row and the ending 
row in square brackets, seperated by a column.

In [ ]:
**example:** .[1:2]

In [174]:
students[1:2]

   student_id  age
1           2   11

In [ ]:
We my want to do further analysis on a sample of our full dataset (the population).
For this, we can use the .(sample)

In [172]:
students.tail(2)

   student_id  age
2           3   11
3           4   20

In [ ]:
### Checkpoint:

1. We imported pan