**Task:**

**1. We are given a DataFrame
2. We want to filter it by student_id = 101
3. We want to return the columns name and age**

In [16]:
import pandas as pd

In [27]:
student_data = [
    (101, "Ulysses", 13),
    (53, "William" ,10),
    (128, "Henry" ,6),
    (3, "John" ,11)
]

In [29]:
student_data_columns = ["student_id" , "name" , "age"]

In [31]:
df = pd.DataFrame(data=student_data, columns=student_data_columns)

**To select a specific column from our df. we can do: df ["name of column"]**

In [34]:
df

   student_id     name  age
0         101  Ulysses   13
1          53  William   10
2         128    Henry    6
3           3     John   11